<h1>New category</h1>

<form id="new-category" name="category">
  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Category" />
  </div>

</form>

<a href="#/index">Back</a>
