<h1>Edit response_domain_code</h1>

<form id="edit-response_domain_code" name="response_domain_code">
  <div class="field">
    <label for="code_list"> code_list:</label>
    <input type="text" name="code_list" id="code_list" value="<%= code_list %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Response domain code" />
  </div>

</form>

<a href="#/index">Back</a>
