<h1>Edit response_domain_datetime</h1>

<form id="edit-response_domain_datetime" name="response_domain_datetime">
  <div class="field">
    <label for="datetime_type"> datetime_type:</label>
    <input type="text" name="datetime_type" id="datetime_type" value="<%= datetime_type %>" >
  </div>

  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="field">
    <label for="format"> format:</label>
    <input type="text" name="format" id="format" value="<%= format %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Response domain datetime" />
  </div>

</form>

<a href="#/index">Back</a>
