<h1>Edit code_list</h1>

<form id="edit-code_list" name="code_list">
  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Code list" />
  </div>

</form>

<a href="#/index">Back</a>
