<div class="row import">
    <div data-ng-include="'partials/admin/sidebar.html'" class="col-sm-3 col-md-2 sidebar"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Import
        </h1>

        <notices></notices>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form data-ng-submit="uploadInstrumentImport()" novalidate>
                    <div class="form-group">
                        <label for="instrument-files">
                            Upload DDI Instrument files
                        </label>
                        <input id="instrument-files" ng-file-model="files" type="file" multiple required />
                        <p class="help-block">Only DDI-L 3.2 files are accepted.</p>
                    </div>
                    <div class="checkbox">
                        <label for="import_question_grids">
                            <input
                                    id="import_question_grids"
                                    data-ng-model="options.question_grids"
                                    type="checkbox"
                            >
                            Import QuestionGrids
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="instrument-prefix">
                            Prefix
                        </label>
                        <input id="instrument-prefix" data-ng-model="options.instrument_prefix" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="instrument-agency">
                            Agency
                        </label>
                        <input id="instrument-agency" data-ng-model="options.instrument_agency" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="instrument-study">
                            Study
                        </label>
                        <input id="instrument-study" data-ng-model="options.instrument_study" class="form-control" type="text" />
                    </div>
                    <button type="submit" class="btn btn-default">Import Instrument</button>
                </form>
            </div>
            <div class="col-md-6 col-sm-12">
                <form data-ng-submit="uploadDatasetImport()" novalidate>
                    <div class="form-group">
                        <label for="dataset-files">
                            Upload DDI Dataset files
                        </label>
                        <input id="dataset-files" ng-file-model="files" type="file" multiple required />
                        <p class="help-block">Only DDI-L 3.2 files are accepted.</p>
                    </div>
                    <button type="submit" class="btn btn-default">Import Dataset</button>
                </form>
            </div>
        </div>
    </div>
</div>
