<div class="row import">
    <div data-ng-include="'partials/admin/sidebar.html'" class="col-sm-3 col-md-2 sidebar"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Import
        </h1>

        <notices></notices>

        <form data-ng-submit="uploadImport()" novalidate>
            <div class="form-group">
                <label for="instrument-files">
                    Upload DDI files
                </label>
                <input id="instrument-files" ng-file-model="files" type="file" multiple required />
                <p class="help-block">Only DDI-L 3.2 files are accepted.</p>
            </div>
            <button type="submit" class="btn btn-default">Import</button>
        </form>
    </div>
</div>
