<div class="row">
    <div data-ng-include="'partials/admin/sidebar.html'" class="col-sm-3 col-md-2 sidebar"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Dashboard
        </h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="img-responsive img-circle bg-purple">
                    {{counts.instruments}}
                </div>
                <h4>Instruments</h4>
                <span class="text-muted">Questionnaires</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="img-responsive img-circle bg-blue">
                    {{counts.questions}}
                </div>
                <h4>Questions</h4>
                <span class="text-muted">Constructs</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="img-responsive img-circle bg-green">
                    {{counts.variables}}
                </div>
                <h4>Variables</h4>
                <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <div class="img-responsive img-circle bg-pink" >
                    {{counts.users}}
                </div>
                <h4>Users</h4>
                <span class="text-muted">Active</span>
            </div>
        </div>
    </div>
</div>