 <ul class="nav nav-sidebar">
    <li data-ng-class="{active: isActive('/admin')}">
        <a href="/admin">
            Overview <span class="sr-only">(current)</span>
        </a>
    </li>
     <li data-ng-class="{active: isActive('/admin/instruments')}">
         <a href="/admin/instruments">
             Instruments
         </a>
     </li>
     <li data-ng-class="{active: isActive('/admin/datasets')}">
         <a href="/admin/datasets">
             Datasets
         </a>
     </li>
    <li data-ng-class="{active: isActive('/admin/users')}">
        <a href="/admin/users">
            Users
        </a>
    </li>
    <li data-ng-class="{active: isActive('/admin/reporting')}">
        <a href="/admin/reporting">
            Reporting
        </a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li data-ng-class="{active: isActive('/admin/import')}">
        <a href="/admin/import">
            Import
        </a>
    </li>
    <li data-ng-class="{active: isActive('/admin/imports')}">
        <a href="/admin/imports">
            DDI Imports
        </a>
    </li>
    <li data-ng-class="{active: isActive('/admin/export')}">
        <a href="/admin/export">
            Export
        </a>
    </li>
</ul>
