 <ul class="nav nav-sidebar">
    <li class="active">
        <a href="/admin">
            Overview <span class="sr-only">(current)</span>
        </a>
    </li>
    <li>
        <a href="/admin/users">
            Users
        </a>
    </li>
    <li>
        <a href="/admin/reporting">
            Reporting
        </a>
    </li>
</ul>
<ul class="nav nav-sidebar">
    <li>
        <a href="/admin/import">
            Import
        </a>
    </li>
    <li>
        <a href="/admin/export">
            Export
        </a>
    </li>
</ul>