<p id="notice"><%= notice %></p>

<p>
  <strong>Code list:</strong>
  <%= @response_domain_code.code_list %>
</p>

<%= link_to 'Edit', edit_response_domain_code_path(@response_domain_code) %> |
<%= link_to 'Back', response_domain_codes_path %>
