<div class="row export">
    <div data-ng-include="'partials/admin/sidebar.html'" class="col-sm-3 col-md-2 sidebar"></div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">
            Export
        </h1>

        <div class="panel panel-default">
            <div class="panel-body row">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Search for..." data-ng-model="query">
                </div>
                <div class="col-md-8">
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Prefix</th>
                    <th>Study</th>
                    <th>Last edit</th>
                    <th>Export date</th>
                    <th>Status</th>
                </tr>
                <tr data-ng-repeat="
                    instrument in filteredInstruments = (instruments |
                    filter:query) |
                    orderBy:'id' |
                    limitTo:pageSize:(currentPage-1)*pageSize">
                    <td>{{instrument.id}}</td>
                    <td>
                        <a data-ng-href="/instruments/{{instrument.id}}">
                            {{instrument.prefix}}
                        </a>
                    </td>
                    <td>{{instrument.study}}</td>
                    <td>{{instrument.last_edited_time}}</td>
                    <td>{{instrument.export_time}}</td>
                    <td>
                        <a data-ng-href="{{instrument.export_url}}" data-ng-show="instrument.export_url != null">Download</a>
                        <a data-ng-click="export(instrument)" data-ng-show="instrument.export_url == null">Export</a>
                    </td>
                </tr>
            </table>
            <div class="panel-footer">
                <uib-pagination
                        total-items="filteredInstruments.length"
                        ng-model="currentPage"
                        items-per-page="pageSize">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>
