<h1>Listing response_domain_numerics</h1>

<table id="response_domain_numerics-table">
  <tr>
    <th>Numeric type</th>
    <th>Label</th>
    <th>Min</th>
    <th>Max</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Response domain numeric</a>
