<h1>Edit code</h1>

<form id="edit-code" name="code">
  <div class="field">
    <label for="value"> value:</label>
    <input type="text" name="value" id="value" value="<%= value %>" >
  </div>

  <div class="field">
    <label for="order"> order:</label>
    <input type="text" name="order" id="order" value="<%= order %>" >
  </div>

  <div class="field">
    <label for="code_list"> code_list:</label>
    <input type="text" name="code_list" id="code_list" value="<%= code_list %>" >
  </div>

  <div class="field">
    <label for="category"> category:</label>
    <input type="text" name="category" id="category" value="<%= category %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Code" />
  </div>

</form>

<a href="#/index">Back</a>
