<h1>Listing codes</h1>

<table id="codes-table">
  <tr>
    <th>Value</th>
    <th>Order</th>
    <th>Code list</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Code</a>
