<p>
  <b>Value:</b>
  <%= value %>
</p>

<p>
  <b>Order:</b>
  <%= order %>
</p>

<p>
  <b>Code list:</b>
  <%= code_list %>
</p>

<p>
  <b>Category:</b>
  <%= category %>
</p>


<a href="#/index">Back</a>
