<ol class="breadcrumb">
    <li data-ng-repeat="crumb in breadcrumbs" data-ng-class="{active: crumb.active}" data-ng-switch="crumb.link">
        <span
                data-ng-switch-when="false"
                data-ng-class="{dropdown: crumb.subs.length > 0}"
        >
            <span data-ng-if="!crumb.subs">{{crumb.label}}</span>
            <a data-toggle="dropdown" data-ng-if="crumb.subs.length > 0">
                {{crumb.label}}
                <span class="caret"></span>
            </a>
            <ul data-ng-if="crumb.subs.length > 0" class="dropdown-menu">
                <li data-ng-repeat="sub in crumb.subs">
                    <a data-ng-href="{{sub.link}}">{{sub.label}}</a>
                </li>
            </ul>
        </span>
        <a data-ng-href="{{crumb.link}}" data-ng-switch-default>
            {{crumb.label}}
        </a>
    </li>
</ol>