<h1>Edit instruction</h1>

<form id="edit-instruction" name="instruction">
  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value="<%= text %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Instruction" />
  </div>

</form>

<a href="#/index">Back</a>
