<h1>New instruction</h1>

<form id="new-instruction" name="instruction">
  <div class="field">
    <label for="text"> text:</label>
    <input type="text" name="text" id="text" value="<%= text %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Instruction" />
  </div>

</form>

<a href="#/index">Back</a>
