<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @cc_question.question %>
</p>

<%= link_to 'Edit', edit_cc_question_path(@cc_question) %> |
<%= link_to 'Back', cc_questions_path %>
