<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @response_unit.label %>
</p>

<%= link_to 'Edit', edit_response_unit_path(@response_unit) %> |
<%= link_to 'Back', response_units_path %>
