<h1>Listing cc_loops</h1>

<table id="cc_loops-table">
  <tr>
    <th>Loop var</th>
    <th>Start val</th>
    <th>End val</th>
    <th>Loop while</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Cc loop</a>
