<h1>New cc_loop</h1>

<form id="new-cc_loop" name="cc_loop">
  <div class="field">
    <label for="loop_var"> loop_var:</label>
    <input type="text" name="loop_var" id="loop_var" value="<%= loop_var %>" >
  </div>

  <div class="field">
    <label for="start_val"> start_val:</label>
    <input type="text" name="start_val" id="start_val" value="<%= start_val %>" >
  </div>

  <div class="field">
    <label for="end_val"> end_val:</label>
    <input type="text" name="end_val" id="end_val" value="<%= end_val %>" >
  </div>

  <div class="field">
    <label for="loop_while"> loop_while:</label>
    <input type="text" name="loop_while" id="loop_while" value="<%= loop_while %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Cc loop" />
  </div>

</form>

<a href="#/index">Back</a>
