<p>
  <b>Loop var:</b>
  <%= loop_var %>
</p>

<p>
  <b>Start val:</b>
  <%= start_val %>
</p>

<p>
  <b>End val:</b>
  <%= end_val %>
</p>

<p>
  <b>Loop while:</b>
  <%= loop_while %>
</p>


<a href="#/index">Back</a>
