<h1>Edit cc_question</h1>

<form id="edit-cc_question" name="cc_question">
  <div class="field">
    <label for="question"> question:</label>
    <input type="text" name="question" id="question" value="<%= question %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Cc question" />
  </div>

</form>

<a href="#/index">Back</a>
