<h1>Listing question_items</h1>

<table id="question_items-table">
  <tr>
    <th>Label</th>
    <th>Literal</th>
    <th>Instruction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Question item</a>
