<h1>New question_item</h1>

<form id="new-question_item" name="question_item">
  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="field">
    <label for="literal"> literal:</label>
    <input type="text" name="literal" id="literal" value="<%= literal %>" >
  </div>

  <div class="field">
    <label for="instruction"> instruction:</label>
    <input type="text" name="instruction" id="instruction" value="<%= instruction %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Question item" />
  </div>

</form>

<a href="#/index">Back</a>
