<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Import - {{instrument.prefix}}</h3>
    </div>
    <div class="panel-body">
          <form data-ng-submit="importInstrument()" novalidate>
              <div class="form-group">
                  <label for="import-instrument">
                      Upload TXT Mapping files
                  </label>
                  <input id="mapping-file" ng-model="import.file" base-sixty-four-input type="file" multiple/>
                  <p class="help-block">Only TXT files are accepted.</p>
                  <input id="mapping-type" ng-model="import.type" ng-value="{{import.type = 'mapping'}}" ng-hide="true" />
              </div>
              <button type="submit" class="btn btn-default">Import Mapping Files</button>
          </form>
      </div>
</div>
