<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Import - {{instrument.prefix}}</h3>
    </div>
    <div class="panel-body">
      <!-- Angular Form -->
      <form data-ng-submit="importInstrument()" novalidate>
          <div class="form-group">
              <label for="import-instrument">
                  Upload TXT Mapping files
              </label>
              <input id="mapping" ng-file-model="mapping.file" type="file" />
              <p class="help-block">Only TXT files are accepted.</p>
          </div>
          <button type="submit" class="btn btn-default">Import Files</button>
      </form>
      <!-- HTML Form -->
      <!-- <form action="index.html" method="post"> -->
        <!-- <div class="form-group">
            <label for="import-instrument">
                Upload TXT Mapping files
            </label>
            <input id="mapping" name="imports[][file]" type="file" />
            <p class="help-block">Only TXT files are accepted.</p>
            <input id="mapping" name="imports[][type]" type="text" value="mapping" hidden="true" />
        </div>
        <div class="form-group">
            <label for="import-instrument">
                Upload TXT Variable files
            </label>
            <input id="mapping" name="imports[][file]" type="file" />
            <p class="help-block">Only TXT files are accepted.</p>
            <input id="mapping" name="imports[][type]" type="text" value="topicv" hidden="true" />
        </div>
        <div class="form-group">
            <label for="import-instrument">
                Upload TXT DV files
            </label>
            <input id="mapping" name="imports[][file]" type="file" />
            <p class="help-block">Only TXT files are accepted.</p>
            <input id="mapping" name="imports[][type]" type="text" value="dv" hidden="true" />
        </div>
        <div class="form-group">
            <label for="import-instrument">
                Upload TXT Mapper files
            </label>
            <input id="mapping" name="imports[][file]" type="file" />
            <p class="help-block">Only TXT files are accepted.</p>
            <input id="mapping" name="imports[][type]" type="text" value="topicq" hidden="true" />
        </div>
        <button type="submit" class="btn btn-default">Import Files</button>
      </form> -->
    </div>
</div>
