<notices></notices>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Filters & Sorting<span class="glyphicon glyphicon-menu-down"></span></h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Search for..." data-ng-model="query">
			</div>
            <div class="col-sm-4 col-xs-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="sortInstrumentsBy"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sortInstrumentsBy">
                        <li>
                            <a data-ng-click="sortedBy = 'id'">
                                ID
                            </a>
                        </li>
                        <li>
                            <a data-ng-click="sortedBy = 'prefix'">
                                Prefix
                            </a>
                        </li>
                        <li>
                            <a data-ng-click="sortedBy = '-ccs'">
                                Control Constructs
                            </a>
                        </li>
                        <li>
                            <a data-ng-click="sortedBy = 'study'">
                                Study
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-xs-6">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="filterByStudy"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select study
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filterByStudy">
                        <li>
                            <a data-ng-click="filterStudy('')">
                                <em>None</em>
                            </a>
                        </li>
                        <li data-ng-repeat="study in studies">
                            <a data-ng-click="filterStudy(study.study)">
                                {{study.study}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
	</div>
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Prefix</th>
            <th>Control Constructs</th>
			<th>Study</th>
            <th class="editor-min">Actions</th>
		</tr>
		<tr data-ng-repeat="instrument in
		filteredInstruments = (instruments | filter:query |
		filter:{study:filteredStudy}) |
		orderBy:sortedBy |
		limitTo:pageSize:(currentPage-1)*pageSize">
			<td>{{instrument.id}}</td>
			<td>
                <a data-ng-href="/instruments/{{instrument.id}}">
                    {{instrument.prefix}}
                </a>
            </td>
            <td>{{instrument.ccs}}</td>
			<td>{{instrument.study}}</td>
            <td class="editor-min">
                <a data-ng-href="/instruments/{{instrument.id}}/edit">
                    <span class="edit">Edit</span>
                </a>
                |
                <a data-ng-href="/instruments/{{instrument.id}}/build">
                    <span class="build">Build</span>
                </a>
                |
                <a data-ng-href="/instruments/{{instrument.id}}/map">
                    <span class="map">Map</span>
                </a>
                |
                <a data-ng-href="/instruments/{{instrument.id}}">
                    <span class="view">View</span>
                </a>
								|
                <a data-ng-href="/instruments/{{instrument.id}}/import">
                    <span class="view">Import</span>
                </a>
            </td>
		</tr>
	</table>
    <div class="panel-footer">
        <uib-pagination
                total-items="filteredInstruments.length"
                ng-model="currentPage"
                items-per-page="pageSize">
        </uib-pagination>
    </div>
</div>
