<script type="text/ng-template" id="child_render.html">
    <div class="tree-container row" data-ng-if="obj.type!='statement'">
        <span class="a-label col-md-2">
            {{obj.label}}
            <div class="col-md-6 tq-mapping" data-ng-if="obj.type=='sequence'" style="float: right;">
                <a-topics ng-model="obj"></a-topics>
            </div>
        </span>
        <span data-ng-if="obj.literal" class="a-literal col-md-8">
            {{obj.literal}}
        </span>
        <span data-ng-if="obj.base" class="a-literal col-md-8">
            {{obj.base.literal}}
        </span>

        <div class="col-md-6 qv-mapping" data-ng-if="obj.type=='question'" ng-init="question_id=obj.question_id">
            <div ng-repeat="tag in tags[question_id] track by $index" class="btn btn-primary tag-variable">
              <p class="display-inline">{{tag.cod}}</p>
              <span class="glyphicon glyphicon-remove-circle delete-icon" aria-hidden="true" ng-click="deleteVariable(question_id,$index)"></span>
            </div>
            <input type="text" ng-model="variable.added[question_id]" placeholder="Add a variable" uib-typeahead="data as data.cod for data in fakeData | filter:{cod:$viewValue}"
                  class="form-control input-variable" typeahead-on-select="addVariable($item, obj.question_id,$index)"
                  ng-keypress="detectKey($event,question_id,$index)">
        </div>
        <div
                class="col-md-6 tq-mapping"
                data-ng-class="{'col-md-offset-6': obj.type == 'condition'}"
                data-ng-if="obj.type!='sequence'">
            <a-topics ng-model="obj"></a-topics>
        </div>

        <div class="col-md-offset-1 col-md-11">
            <div class="tree-item a-{{obj.type}}" data-ng-repeat="obj in obj.children | orderBy:'position'" data-ng-include="'child_render.html'"></div>
        </div>
        <div class="col-md-offset-1 col-md-11">
            <div class="tree-item a-{{obj.type}}" data-ng-repeat="obj in obj.fchildren | orderBy:'position'" data-ng-include="'child_render.html'"></div>
        </div>
    </div>
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{instrument.study}} - {{instrument.label}}</h3>
    </div>
    <div id="tree" class="panel-body">
        <span class="a-label">{{instrument.topsequence.label}}</span>
        <div>
            <div class="tree-item a-sequence" data-ng-repeat="obj in instrument.topsequence.children | orderBy:'position'" data-ng-include="'child_render.html'"></div>
        </div>
    </div>
</div>
