<script type="text/ng-template" id="child_render.html">
    <div class="tree-container row">
            <span class="a-label col-md-2">
                {{obj.label}}
            </span>
            <span data-ng-if="obj.literal" class="a-literal col-md-8">
                {{obj.literal}}
            </span>
            <div data-ng-if="obj.type=='question'" data-ng-include="'partials/questions/show.html'"></div>

        <div class="col-md-offset-1 col-md-11">
            <div class="tree-item a-{{obj.type}}" data-ng-repeat="obj in obj.children | orderBy:'position'" data-ng-include="'child_render.html'"></div>
        </div>
    </div>
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{instrument.study}} - {{instrument.label}}</h3>
    </div>
    <div class="panel-body">
        <div id="tree" data-ng-show="loading.state == 'Done'">
            <span class="a-label">{{instrument.topsequence.label}}</span>
            <div>
                <!-- TODO: Change orderBy to correct ordering system -->
                <div class="tree-item a-sequence" data-ng-repeat="obj in instrument.topsequence.children | orderBy:'position'" data-ng-include="'child_render.html'"></div>
            </div>
        </div>
        <div data-ng-show="loading.state == 'Downloading' || loading.state == 'Processing'">
            {{loading.progress}}
            <uib-progressbar type="{{loading.type}}" class="progress-striped active" value="loading.progress">{{loading.state}}</uib-progressbar>
        </div>
    </div>
</div>