<h1>Listing variables</h1>

<table id="variables-table">
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Var type</th>
    <th>Dataset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Variable</a>