<div class="row">
    <notices class="col-md-10 col-md-offset-1"></notices>
</div>

<div data-ng-controller="UserController" class="col-md-4 col-md-offset-4">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#sign-in" aria-controls="sign-in" role="tab" data-toggle="tab">Sign In</a></li>
        <li role="presentation"><a href="#sign-up" aria-controls="sign-up" role="tab" data-toggle="tab">Sign Up</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="sign-in">
            <form novalidate>
                <div class="form-group">
                    <label for="login-email">Email address</label>
                    <input
                            type="email"
                            class="form-control"
                            id="login-email"
                            placeholder="Email"
                            data-ng-model="creds.email"
                    >
                </div>
                <div class="form-group">
                    <label for="login-password">Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="login-password"
                            placeholder="Password"
                            data-ng-model="creds.password"
                    >
                </div>
                <button data-ng-click="sign_in(creds)" type="submit" class="btn btn-default">Log in</button>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="sign-up">
            <form novalidate>
                <div class="form-group">
                    <label for="signup-email">Email address</label>
                    <input
                            type="email"
                            class="form-control"
                            id="signup-email"
                            placeholder="Email"
                            data-ng-model="details.email"
                    >
                </div>
                <div class="form-group">
                    <label for="signup-fname">First name</label>
                    <input
                            type="text"
                            class="form-control"
                            id="signup-fname"
                            placeholder="First name"
                            data-ng-model="details.fname"
                    >
                </div>
                <div class="form-group">
                    <label for="signup-lname">Last name</label>
                    <input
                            type="text"
                            class="form-control"
                            id="signup-lname"
                            placeholder="Last name"
                            data-ng-model="details.lname"
                    >
                </div>
                <div class="form-group">
                    <label for="signup-password">Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="signup-password"
                            placeholder="Password"
                            data-ng-model="details.password"
                    >
                </div>
                <div class="form-group">
                    <label for="signup-confirmation">Confirmation</label>
                    <input
                            type="password"
                            class="form-control"
                            id="signup-confirmation"
                            placeholder="Password again"
                            data-ng-model="details.confirm"
                    >
                </div>
                <div class="form-group">
                    <label for="signup-group">Group</label>
                    <select
                            class="form-control"
                            id="signup-group"
                            data-ng-model="details.group"
                            data-ng-options="group.id as group.label for group in sign_up_groups"
                    >
                    </select>
                </div>
                <button data-ng-click="sign_up(details)" type="submit" class="btn btn-default">Sign Up</button>
            </form>
        </div>
    </div>

</div>
