/*
 * Base structure
 */

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 71px 20px 20px 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
    .navbar-static-top {
        z-index: 1100 !important;
    }

    .modal-dialog {
        margin-top: 100px !important;
    }
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder div {
    display: inline-block;
    border-radius: 50%;
    height: 16vw;
    width: 16vw;
    line-height: 16vw;
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
    font-size: 30px;
    color: white;
}

@media (max-width: 768px) {
    .placeholder div {
        height: 28vw;
        width: 28vw;
        line-height: 28vw;
    }
}

.sidebar a,
.sidebar a:visited {
    color: #337ab7;
}

.sidebar .active a:visited {
    color: #ccc;
}


.sidebar .active a:hover {
    color: #fff;
}