<h1>New response_domain_text</h1>

<form id="new-response_domain_text" name="response_domain_text">
  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="field">
    <label for="maxlen"> maxlen:</label>
    <input type="text" name="maxlen" id="maxlen" value="<%= maxlen %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Response domain text" />
  </div>

</form>

<a href="#/index">Back</a>
