<p id="notice"><%= notice %></p>

<p>
  <strong>Literal:</strong>
  <%= @cc_sequence.literal %>
</p>

<%= link_to 'Edit', edit_cc_sequence_path(@cc_sequence) %> |
<%= link_to 'Back', cc_sequences_path %>
