<h1>Edit response_unit</h1>

<form id="edit-response_unit" name="response_unit">
  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Response unit" />
  </div>

</form>

<a href="#/index">Back</a>
