<h1>Edit cc_sequence</h1>

<form id="edit-cc_sequence" name="cc_sequence">
  <div class="field">
    <label for="literal"> literal:</label>
    <input type="text" name="literal" id="literal" value="<%= literal %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Cc sequence" />
  </div>

</form>

<a href="#/index">Back</a>
