<h1>Edit topic</h1>

<form id="edit-topic" name="topic">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="parent"> parent:</label>
    <input type="text" name="parent" id="parent" value="<%= parent %>" >
  </div>

  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Topic" />
  </div>

</form>

<a href="#/index">Back</a>
