<h1>Listing topics</h1>

<table id="topics-table">
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Topic</a>