<p id="notice"><%= notice %></p>

<p>
  <strong>Literal:</strong>
  <%= @cc_statement.literal %>
</p>

<%= link_to 'Edit', edit_cc_statement_path(@cc_statement) %> |
<%= link_to 'Back', cc_statements_path %>
