<div class="row">
    <div
            data-ng-if="studies.length > 1"
            data-google-chart
            chart="chart_one"
            class="col-md-6 col-sm-12"
            style="height:240px;"
    ></div>
    <div
            data-google-chart
            chart="chart_two"
            class="col-md-6 col-sm-12"
            style="height:240px;"
    ></div>
    <div
            data-ng-if="studies.length > 1"
            data-google-chart
            chart="chart_three"
            class="col-md-6 col-sm-12"
            style="height:240px;"
    ></div>
    <!--<div data-google-chart chart="chart_four" class="col-md-6 col-sm-12" style="height:240px;"></div>-->
</div>