<notices></notices>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">

                <div>
                    <treecontrol class="tree-boot" tree-model="data" on-selection="showSelected(node, selected)">
                        ({{node.code}}) - {{node.name}}
                    </treecontrol>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 hidden-sm">
        <div class="panel panel-default" data-ng-show="node">
            <div class="panel-heading">{{node.name}}</div>
            <div class="panel-body">
                <p>{{node.description}}</p>
            </div>
            <table class="table" data-ng-show="variable_stats && question_stats">
                <tr>
                    <th>Study</th>
                    <th>Variable Uses</th>
                </tr>
                <tr data-ng-repeat="stat in variable_stats">
                    <td>{{stat.study}}</td>
                    <td>{{stat.count}}</td>
                </tr>
                <tr>
                    <th>Study</th>
                    <th>Question Uses</th>
                </tr>
                <tr data-ng-repeat="stat in question_stats">
                    <td>{{stat.study}}</td>
                    <td>{{stat.count}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
