/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$icon-font-path: "bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "jquery-ui/themes/base/theme";
@import "angular-tree-control/css/tree-control";
@import "angular-tree-control/css/tree-control-attribute";

.monospaced {
  font-family: menlo;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav li .badge {
  float: right;
}

.a-navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.equal, .equal > div[class*='col-'] {
  display: -webkit-flex;
  display: flex;
  flex:1 1 auto;
}

/*
 * Main content
 */
.main {
  padding: 0px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.tab-pane > form > .form-group:first-child {
  margin-top: 15px;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.transparent {
  color: transparent;
}

.invisible {
  visibility: hidden;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #eeeeee !important;
}

.bg-purple {
  background: #652C90;
}

.bg-blue {
  background: #00ADEF;
}

.bg-green {
  background: #38B449;
}

.bg-pink {
  background: #EC008B;
}

.bg-orange {
  background: #FBAF3F;
}

p.rt-online {
  color: #3c763d !important;
}

p.rt-offline {
  color: #a94442 !important;
}

.tree-boot li.tree-leaf i.tree-leaf-head {
  background: image-url('file.png')
}