.edit-cancel-save
  float: right
  margin-top: -65px

.a-construct-container
  border-radius: 4px
  background: lightgrey

.new-construct
  min-height: 20px
  text-align: center

.a-true-branch
  background-image: image-url('true.jpg')

.a-false-branch
  background-image: image-url('false.jpg')

ul.nav-sidebar
  li.new
    background-color: #5CB85C

    a
      color: white

    a:hover
      background-color: #3C763D

  .a-type
    color: #999999
    float: right