.edit-cancel-save
  float: right
  margin-top: -65px

.a-construct-tree
  li.ng-binding
    list-style: none
    margin-top: -10px
    padding-bottom: 35px

  .a-construct-container
    border-radius: 4px
    background: lightgrey
    min-height: 80px

  .new-construct
    min-height: 20px
    text-align: center

  .btn
    margin-bottom: 10px

ul.nav-sidebar
  li.new
    background-color: #5CB85C

    a
      color: white

    a:hover
      background-color: #3C763D

  .a-type
    color: #999999
    float: right