<div class="col-md-8">
    <span data-ng-bind="obj.base.literal" class="a-literal"></span>
    <div data-ng-if="obj.base.rds" class="row a-response-domains">
        <div data-ng-repeat="rd in obj.base.rds" data-ng-include="'partials/response_domains/show.html'" class="col-md-10"></div>
    </div>
    <div data-ng-if="obj.base.cols">
        <table class="table a-question-grid">
            <tr>
                <th>
                    {{obj.base.corner_label}}
                </th>
                <th data-ng-repeat="col in obj.base.cols | orderBy:'order'">
                    {{col.label}}
                </th>
            </tr>
            <tr class="a-response-domains">
                <td></td>
                <td data-ng-repeat="col in obj.base.cols | orderBy:'order'">
                    <div data-ng-init="rd = col.rd" data-ng-include="'partials/response_domains/show.html'"></div>
                </td>
            </tr>
            <tr data-ng-repeat="row in obj.base.rows | orderBy:'order'">
                <td>
                    {{row.label}}
                </td>
                <td data-ng-repeat="col in obj.base.cols"></td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-2" class="a-variables">
    <ul>
        <li
                data-ng-repeat="variable in obj.variables"
                data-uib-popover-template="'partials/instruments/popover/variable.html'"
                data-popover-trigger="click"
                data-popover-title="{{variable.var_type}}"
                data-popover-placement="left"
        >
            {{variable.name}}
        </li>
    </ul>
</div>