<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button aria-controls="navbar" aria-expanded="false" class=
			"navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type=
			"button"><span class="sr-only">Toggle navigation</span> <span class=
			"icon-bar"></span> <span class="icon-bar"></span> <span class=
			"icon-bar"></span></button> <a class="navbar-brand" href="#">{{softwareName}}</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar">
			<ul class="nav navbar-nav" data-ng-show="user.logged_in">
				<li data-ng-class="{active: isActive('/')}">
					<a href="/">Home</a>
				</li>
				<li data-ng-class="{active: isActive('/instruments')}">
					<a href="/instruments">Instruments</a>
				</li>
				<li data-ng-class="{active: isActive('/datasets')}" class="admin-min">
					<a href="/datasets">Datasets</a>
				</li>
				<li data-ng-class="{active: isActive('/topics')}" class="admin-min">
					<a href="/topics">Topics</a>
				</li>
				<li data-ng-class="{active: isActive('/admin')}" class="dropdown admin-min">
					<a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle"
					data-toggle="dropdown" href="#" role="button">Admin <span class=
					"caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/admin">Dashboard</a>
						</li>
            <li>
              <a href="/admin/instruments">Instruments</a>
            </li>
						<li>
							<a href="/admin/users">Users</a>
						</li>
						<li>
							<a href="/admin/reporting">Reporting</a>
						</li>
						<li class="divider" role="separator"></li>
						<li class="dropdown-header">Data</li>
						<li>
							<a href="/admin/import">Import</a>
						</li>
						<li>
							<a href="/admin/export">Export</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/help">Help</a>
				</li>
				<li>
					<a href="#" data-ng-show="user.logged_in" data-ng-click="sign_out()">Logout</a>
				</li>
			</ul>
      <p class="a-navbar-text navbar-right" data-ng-class="{'text-success': realtimeStatus, 'text-danger': !realtimeStatus}">
        Realtime
      </p>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div data-ng-if="!user.logged_in" data-ng-include="'sign_up_in.html'" data-ng-class="row"></div>

<div data-ng-if="user.logged_in" class="container-fluid">
  <div class="view-container">
    <div data-ng-view class="view-frame animate-view"></div>
  </div>
</div>