<h1>Edit cc_condition</h1>

<form id="edit-cc_condition" name="cc_condition">
  <div class="field">
    <label for="literal"> literal:</label>
    <input type="text" name="literal" id="literal" value="<%= literal %>" >
  </div>

  <div class="field">
    <label for="logic"> logic:</label>
    <input type="text" name="logic" id="logic" value="<%= logic %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Cc condition" />
  </div>

</form>

<a href="#/index">Back</a>
