<h1>Listing cc_conditions</h1>

<table id="cc_conditions-table">
  <tr>
    <th>Literal</th>
    <th>Logic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Cc condition</a>
