<div class="modal fade" id="copy-instrument" tabindex="-1" role="dialog" aria-labelledby="copy-instrument-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <h4 class="modal-title" id="copy-instrument-title">Copy instrument</h4>
            </div>
            <div class="modal-body">
                <form data-ng-submit="copyInstrument()">
                    <div class="form-group">
                        <label for="prefix">Prefix</label>
                        <input
                                id="prefix"
                                class="form-control"
                                data-ng-model="copiedInstrument.prefix"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="study">Study</label>
                        <input
                                id="study"
                                class="form-control"
                                data-ng-model="copiedInstrument.study"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input
                                id="title"
                                class="form-control"
                                data-ng-model="copiedInstrument.title"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="agency">Agency</label>
                        <input
                                id="agency"
                                class="form-control"
                                data-ng-model="copiedInstrument.agency"
                                required
                        />
                    </div>
                    <div class="form-group">
                        <label for="verion">Version</label>
                        <input
                                id="verion"
                                class="form-control"
                                data-ng-model="copiedInstrument.version"
                                required
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="copy()">Copy</button>
            </div>
        </div>
    </div>
</div>