<div class="modal fade" id="import-mapping" tabindex="-1" role="dialog" aria-labelledby="import-mapping-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <h4 class="modal-title" id="delete-instrument-title">Import Mappings - {{modal.title}}</h4>
            </div>
            <div class="modal-body">
                <form name="importMappingForm">
                  <div class="form-group">
                      <label>
                          File inputs
                      </label>
                      <input ng-model="mapping.files" base-sixty-four-input type="file" accept="text/plain" multiple required/>
                      <p class="help-block import-mapping-margin-top">You can import multiple {{modal.msgFileType}} mapping files. Only TXT files are accepted.</p>
                  </div>

                  <div ng-show="mapping.files">
                    <div class="row">
                      <div class="col-md-6 col-lg-6">
                        <label>
                            File name
                        </label>
                      </div>
                      <div class="col-md-6 col-lg-6">
                        <label>
                            Type
                        </label>
                      </div>
                    </div>
                    <div class="row import-mapping-margin-top" ng-repeat="file in mapping.files">
                      <div class="col-md-6 col-lg-6 import-mapping-margin-top">
                        <p>{{file.filename}}</p>
                      </div>
                      <div class="col-md-6 col-lg-6">
                        <select class="form-control import-mapping-width-auto" ng-model='mapping.type[$index]' name="importType" required>
                          <option value="{{modal.fileTypes[0].value}}">{{modal.fileTypes[0].label}}</option>
                          <option value="{{modal.fileTypes[1].value}}">{{modal.fileTypes[1].label}}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="modal-footer import-mapping-margin-top">
                      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cleanInputImport()">Cancel</button>
                      <button id="submit-import" type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="importMappingForm.$invalid" ng-click="import(instrument.id)">Import</button>
                  </div>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    .panel-heading {
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
    }
</style>
