<div class="modal fade" id="import-mapping" tabindex="-1" role="dialog" aria-labelledby="import-mapping-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <h4 class="modal-title" id="delete-instrument-title">Import Mappings</h4>
            </div>
            <div class="modal-body">
                <form name="importMappingForm">
                  <div class="form-group">
                      <label for="import-instrument">
                          File inputs
                      </label>
                      <div class="row">
                        <div class="col-md-6 col-lg-6 import-mapping-margin-top">
                          <input id="mapping-file" ng-model="mapping.file" base-sixty-four-input type="file" accept="text/plain" multiple required/>
                        </div>
                        <div class="col-md-6 col-lg-6">
                          <select class="form-control" name="" required>
                            <option value="" disabled selected hidden>Type</option>
                            <option value="">Q-V Mapping</option>
                            <option value="">T-Q Mapping</option>
                          </select>
                        </div>
                      </div>
                      <p class="help-block import-mapping-margin-top">You can import multiple Q-V and T-Q mapping files. Only TXT files are accepted.</p>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="importMappingForm.$invalid">Import</button>
                  </div>
                </form>
            </div>

        </div>
    </div>
</div>

<style>
    .panel-heading {
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
    }
</style>
