<div class="modal fade" id="lock-user" tabindex="-1" role="dialog" aria-labelledby="lock-user-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
                <h4 class="modal-title" id="lock-user-title">User Locking</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you would like to {{current.status == 'locked' ? 'unlock' : 'lock'}} {{current.first_name}} {{current.last_name}}'s account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="toggleLock()">Confirm</button>
            </div>
        </div>
    </div>
</div>